<div class="span4">
                    	<p><h3>Tên phần mềm: </h3>Đang cập nhật</p>
                      <p><h3>Đơn vị phát triển: </h3>HarmonyEV</p>
                      <p><h3>Phiên bản: </h3>Đang cập nhật</p>
                      <p><h3>Ngôn ngữ hỗ trợ: </h3>Đang cập nhật</p>
                      <p><h3>Nền tảng hỗ trợ: </h3>Đang cập nhật</p>
                      <p><h3>Đối tượng khách hàng:</h3><br>
                        Đang cập nhật
                      </p>
                      <p><h3>Các tính năng chính của sản phẩm: </h3><br>
                        Đang cập nhật                   

                        <br><br>
                        </p><ul class="links">
                            <li><a href="#">Đang cập nhật</a></li>
                            <li><a href="#">Đang cập nhật</a></li>
                        </ul>                    
                    </div>