.banner {
  display: flex;
  width: 100%;
  height: 25vh;
  padding: 3rem;
  align-items: center;
  background-color: #f8f9fa;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.header {
  color: white !important;
  background-color: black;
}
.category {
  background-color: #f8f9fa;
  color: black !important;
}
.list {
  list-style-type: none;
}
.list li {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  padding: 10px;
}
.list li:hover,
.list li.active {
  color: #faebd7;
  cursor: pointer;
}
.header {
  color: white;
  background-color: black;
}
